/* books index */

.col-name {
	font-size: 1.5em;
	font-weight: bolder;
}

/* books details */

.book-details {
	margin-top: 30px;
}

.rectangle {
	width: 300px;
  height: 400px;
  background: gray;
  margin-bottom: 30px;
}

.book-detail-title {
	font-weight: bolder;
}

.book-info {
	margin-bottom: 20px;
}

.book-introduction {
	float: left;
	margin-top: 30px;
}