#search-bar {
  width: 130px;
  border: 2px solid #ccc;
  font-size: 13px;
  margin: 10px 20px 10px 0px;
  padding: 6px 10px 6px 10px;
  width: 40%;
}

.glyphicon.glyphicon-search {
  font-size: 20px;
}

#search-button {
  width: 100px;
}