<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Capstone Library</a>
    by <a href="http://www.michaelhartl.com/">Thai Khanh Hoai</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>